Python Basics

In [1]:
1+2

3

In [120]:
4%2 ##remainder

0

In [3]:
4/2 ##divide

2.0

In [4]:
5//2 ##gives the main value..gives whole number..not the decimal

2

In [5]:
5/2

2.5

In [6]:
#BODMAS--BRACKET,OFF,DIV,MULT,ADD,SUBTRACTION

In [7]:
5+3*2

11

In [8]:
(5+3)*2

16

In [9]:
type(4/2)

float

In [10]:
type(2)

int

In [11]:
type(2.5)

float

In [12]:
type('kkr')

str

In [13]:
a = 10
b = 20

In [14]:
c = a+b

In [15]:
c

30

In [16]:
type(c)

int

In [17]:
#boolean ops
True

True

In [18]:
False

False

In [19]:
True or False

True

In [20]:
type(True and True)

bool

In [102]:
True and False

False

In [104]:
True & False

False

In [21]:
True | False

True

In [22]:
True or True

True

In [23]:
#bitwise and logical operator

In [24]:
a = 10

In [25]:
b = 20

In [26]:
a+b>30

False

In [27]:
a+b>30 | a-b <10

True

In [28]:
a+b>30 | a-b <10

True

In [100]:
a+b>30 or a-b <10

True

In [29]:
## exact diff b/w or and | 
##assignment

In [117]:
#logical and
year = 1992
  
year%4==0 and (year%100==0 or year%400==0)

False

In [118]:
#bitwise and
year = 1992

year%4==0 & (year%100==0 or year%400==0)

True

In [122]:
a, b = 9, 10
print(a & b)#line 1 #bitwise and
print(a and b)#line 2  #logical and

8
10

In [32]:
'AP man utd fan'

'AP man utd fan'

In [123]:
type('adi')

str

In [33]:
"AP man utd fan"

'AP man utd fan'

In [34]:
str

str

In [35]:
##these are reserved keywords

In [36]:
str(1) ##typecasting

'1'

In [37]:
#never use str, bool,these are reserved keywords

In [38]:
str1 = 'apknight'
str1

'apknight'

In [39]:
str(1) ##shifttab

'1'

In [40]:
str1

'apknight'

In [41]:
print(str1)

apknight

In [42]:
a= 20
a

20

In [43]:
print(a) ##console o/p as string

20

In [44]:
str1 = 'A good boy'
str2 = 'A bad boy'

In [45]:
print(str1),print(str2)

A good boy
A bad boy

(None, None)

In [46]:
print(str1)
print(str2)

A good boy
A bad boy

In [47]:
str1 + ' '+str2

'A good boy A bad boy'

In [48]:
#press esc then A

In [49]:
name = input('enter your name?')
print(name)

enter your name?a[
a[

In [50]:
##add 2 numbers

In [51]:
a = float(input('enter number 1?'))
b = float(input('enter number 2?'))

enter number 1?1
enter number 2?2

In [52]:
##inputs is treated as string

In [53]:
c=a+b

In [54]:
a = float(input('enter number 1?'))
b = float(input('enter number 2?'))
c=a+b
print(c)

enter number 1?1
enter number 2?2
3.0

In [55]:
a = float(input('enter number 1?'))

enter number 1?2

In [56]:
#string formatting

In [57]:
first_name= input('what is your first name?')
last_name = input('what is your last name?')
print('welcome to ineuron course',first_name,last_name)

what is your first name?2
what is your last name?2
welcome to ineuron course 2 2

In [58]:
first_name= input('what is your first name?')
last_name = input('what is your last name?')
print('my first name is {} and last name is {}'.format(first_name,last_name))

what is your first name?a
what is your last name?p
my first name is a and last name is p

In [59]:
first_name= input('what is your first name?')
last_name = input('what is your last name?')
print('my first name is {one} and last name is {two}'.format(one=first_name,two=last_name))

what is your first name?a
what is your last name?p
my first name is a and last name is p

# variable dynamic typing

In [60]:
1+ int('2')

3

In [61]:
##cond statements

In [62]:
#if and elif

In [68]:
a = int(input ('enter the number1?'))
b = int(input ('enter the number2?'))

c = a-b
print('The output is',c)

if c<0:
    print("the number is negative")
elif c>40:
    print('the difference is huge')    
else:
    print('the no.is pos')

enter the number1?100
enter the number2?40
The output is 60
the difference is huge

In [69]:
##DATA STRUCTURES

In [70]:
#.LIST : COLL. OF HOMOGENEOUS AND HETEROGENEOUS

In [71]:
lst = [1,2,3,'ap','ranjan']

In [72]:
lst

[1, 2, 3, 'ap', 'ranjan']

In [75]:
lst[3] #indexing start from 0

'ap'

In [76]:
type(lst[3])

str

In [77]:
type(lst)

list

In [78]:
list([1,2,3,'ap','ranjan'])

[1, 2, 3, 'ap', 'ranjan']

In [79]:
list((1,2,3,'ap','ranjan'))

[1, 2, 3, 'ap', 'ranjan']

In [81]:
lst.append('kol')

In [82]:
lst

[1, 2, 3, 'ap', 'ranjan', 'kol']

In [84]:
lst[2] = 'data sc'

In [85]:
lst

[1, 2, 'data sc', 'ap', 'ranjan', 'kol']

In [86]:
print(lst[2])

data sc

In [87]:
lst.append('aditya')
lst.append('aditya')
lst

[1, 2, 'data sc', 'ap', 'ranjan', 'kol', 'aditya', 'aditya']

In [88]:
lst.count('aditya')

2

In [89]:
lst.count('ap')

1

In [90]:
##Indexing

In [91]:
str1= 'Aditya'
str1

'Aditya'

In [93]:
str1[3] = 'i'

TypeError: 'str' object does not support item assignment

In [94]:
##once defined cant change..doesnot suppport item assignment

In [95]:
#string is mutable or immutable?
##string is immutable

In [97]:
#in list--can be changed..mutable